<!DOCTYPE html>
<html>
<head>
  <title>Meup.co : Shorten your URL</title>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/navbar" %>
  <%= yield %>
  <hr>
  <%= render "partials/footer" %>
</body>
  
</html>